<html>
<body>
    {{data}}
<!-- <table>
    <table border="1" class="table table-striped" style="background-color: white">
        <tr>
            <th scope="col">UnderlyingSymbol</th>
            <th scope="col">UnderlyingPrice</th>
            <th scope="col">Exchange</th>
            <th>OptionSymbol</th>
            <th>OptionExt</th>
            <th>Type</th>
            <th>Expiration</th>
            <th>DataDate</th>
            <th>Strike</th>
            <th>Last</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>OpenInterest</th>
            <th>IV</th>
            <th>Delta</th>
            <th>Gamma</th>
            <th>Theta</th>
            <th>Vega</th>
            <th>AGA</th>
        </tr>
   
    
        <tr>
            <td>{{i.value}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
            <td>{{i}}</td>
        </tr>
        
</table> -->

</body>
</html>